{% extends "base.html" %}

{% block extra_css %}
<style>
@-webkit-keyframes showin {
  from { opacity: 0; height: 0; }
  to { opacity: 1; height: auto; }
}
@keyframes showin {
  from { opacity: 0; height: 0; }
  to { opacity: 1; height: auto; }
}

ul[data-js-for="#{{ form.image.id_for_label }}"]>li:last-child {
  opacity: 0;
  -webkit-animation: showin 0.25s 0.0725s both;
  -moz-animation: showin 0.25s 0.0725s both;
  -ms-animation: showin 0.25s 0.0725s both;
  -o-animation: showin 0.25s 0.0725s both;
  animation: showin 0.25s 0.0725s both;
}
</style>
{% endblock extra_css %}

{% block extra_js %}
{% for js in form.media.render_js %}
  {{ js }}
{% endfor %}
<script>
(function (window, document, $, undefined) {
  'use strict';
  function getCookie(name) {
    var cookieValue = null;
    var selector = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    if (!cookieValue) {
      selector = 'input[type="hidden"][name="csrfmiddlewaretoken"]';
      cookieValue = document.querySelector(selector).value;
    }
    return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');
  var targetList = null;
  $('#{{ form.image.id_for_label }}').fileupload({
    url: '{% url "media:image_create" %}',
    dataType: 'json',
    beforeSend: function (xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    },
    done: function (e, data) {
      if (!targetList) {
        targetList = $('ul[data-js-for="#' + e.target.id + '"]');
      }
      $.each(data.result.files, function (index, file) {
        $('<li/>').text(file.name).appendTo(targetList);
      });
    }
  });
})(this, this.document, jQuery);
</script>
{% endblock extra_js %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="." role="form" class="form-horizontal">
      {% csrf_token %}
      <fieldset>
        <legend>Upload Imagem</legend>
        {% for field in form %}
        <div class="form-group">
          <label
              class="col-md-2"
              for="{{ field.id_for_label }}">{{ field.label }}</label>
          <div class="col-md-10">
            {{ field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <ul
                class="list-unstyled"
                data-js-for="#{{ form.image.id_for_label }}">
              <li>hello</li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </fieldset>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-default">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
